:root {
    --fg: #000000;
    --bg: #fcfcfc;
    --table-head: #f2f2f2;
    --fg-menu: #1b5d35;
    --fg-menu-hover: #0d4322;
    --fg-menu-heading: #072e17;
    --fg-menu-divider: #6f9b80;
    --fg-menu-border: #889c90;
    --bg-menu-foc: #9bb1a4;
    --bg-menu-children: #b6beb9;
    --fg-sec-link: grey;
    --fg-link: #1a6b3a;
    --fg-link-hover: #999;
    --fg-footer-pipe: #555;
    --fg-footer-divider: #5b9572;
    --border-inline-code: #c8c8c8;
    --bg-inline-code: #f7f7f7;
    --fg-variable: #b0b0b0;
    --fg-string: #545454;
    --fg-output: #545454;
    --fg-nametag: #292929;
    --fg-nameclass: #868686;
    --fg-literal: #989898;
    --fg-keyword: #757575;
    --fg-exception: black;
    --fg-comment: #8e8e8e;
    --fg-comment2: #787878;
    --bg-code-accent: #b4c0b9;
    --fg-diff-added: #005000;
    --fg-diff-deleted: #8f1313;
    --fg-bqn-sub: #005e8b;
    --fg-bqn-1-mod: #1a4a2d;
    --fg-bqn-2-mod: #144336;
    --fg-bqn-string: #3548cf;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #eaf2ef;
        --bg: #332c31;
        --table-head: #2d272b;
        --fg-menu: #64c189;
        --fg-menu-heading: #86c79f;
        --fg-menu-divider: #143b24;
        --fg-menu-border: #143b24;
        --bg-menu-foc: #152d1f;
        --bg-menu-children: #193022;
        --fg-link: #42c877;
        --fg-link-hover: #bbb;
        --fg-footer-pipe: #999;
        --fg-footer-divider: #3db26b;
        --border-inline-code: #585858;
        --bg-inline-code: #443b41;
        --fg-string: #bcbcbc;
        --fg-output: #d8d8d8;
        --fg-nametag: #f2f2f2;
        --fg-nameclass: #e3e3e3;
        --fg-literal: #bababa;
        --fg-keyword: #c8c8c8;
        --fg-exception: white;
        --fg-comment: #adadad;
        --fg-comment2: #9c9c9c;
        --bg-code-accent: #1e3226;
        --fg-diff-added: #a0e0a0;
        --fg-diff-deleted: #ffbfbf;
        --fg-bqn-sub: #00d3d0;
        --fg-bqn-1-mod: #48b473;
        --fg-bqn-2-mod: #53c4a5;
        --fg-bqn-string: #79a8ff;
        --fg-variable: #bebebe;
    }
}