:root {
    --fg: #000000;
    --bg: #fcfcfc;
    --table-head: #f2f2f2;
    --fg-menu: #b64520;
    --fg-menu-hover: #85280a;
    --fg-menu-heading: #5c1903;
    --fg-menu-divider: #ebe2e0;
    --fg-menu-border: #eceaec;
    --bg-menu-foc: #f4f1f0;
    --bg-menu-children: #fbf9fb;
    --fg-sec-link: grey;
    --fg-link: #d4481a;
    --fg-link-hover: #999;
    --fg-footer-pipe: #555;
    --fg-footer-divider: #e3d0c9;
    --border-inline-code: #c8c8c8;
    --bg-inline-code: #f7f7f7;
    --fg-variable: #9a9a9a;
    --fg-string: #424242;
    --fg-output: #292929;
    --fg-nametag: #3c3c3c;
    --fg-nameclass: #9c9c9c;
    --fg-literal: #595959;
    --fg-keyword: #6a6a6a;
    --fg-exception: black;
    --fg-comment: #a2a2a2;
    --fg-comment2: #5d5d5d;
    --bg-code-accent: #f8f7f6;
    --fg-diff-added: #005000;
    --fg-diff-deleted: #8f1313;
    --fg-bqn-sub: #005e8b;
    --fg-bqn-1-mod: #913d21;
    --fg-bqn-2-mod: #845617;
    --fg-bqn-string: #3548cf;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #eaf2ef;
        --bg: #332c31;
        --table-head: #2d272b;
        --fg-menu: #e8beb0;
        --fg-menu-heading: #ebd0c7;
        --fg-menu-divider: #74311b;
        --fg-menu-border: #594a4f;
        --bg-menu-foc: #572d20;
        --bg-menu-children: #3f373c;
        --fg-link: #eeb39f;
        --fg-link-hover: #bbb;
        --fg-footer-pipe: #999;
        --fg-footer-divider: #e7ab97;
        --border-inline-code: #585858;
        --bg-inline-code: #443b41;
        --fg-string: #a8a8a8;
        --fg-output: #c0c0c0;
        --fg-nametag: #dedede;
        --fg-nameclass: #d1d1d1;
        --fg-literal: #bdbdbd;
        --fg-keyword: #cdcdcd;
        --fg-exception: white;
        --fg-comment: #a4a4a4;
        --fg-comment2: #b6b6b6;
        --bg-code-accent: #5e3c31;
        --fg-diff-added: #a0e0a0;
        --fg-diff-deleted: #ffbfbf;
        --fg-bqn-sub: #00d3d0;
        --fg-bqn-1-mod: #e2ae9c;
        --fg-bqn-2-mod: #ecd1ac;
        --fg-bqn-string: #79a8ff;
        --fg-variable: #e3e3e3;
    }
}